.Container-superior{
  display: flex;
  width: 100%;


  
}
.Container-Contacto{
  width: 100%;
display:inline-flex;
justify-content: space-between;
padding: 10px 20px 10px 20px;
margin-bottom: 10px;
background-color: #1ec1e4;

box-shadow: 9px -9px 18px -9px rgba(255,255,255,0.79) inset;
-webkit-box-shadow: 9px -9px 18px -9px rgba(255,255,255,0.79) inset;
-moz-box-shadow: 9px -9px 18px -9px rgba(255,255,255,0.79) inset;
}

.Container-Contacto, .bi > a{
 
  text-decoration: none;
  font-weight: 450;
  color: white;
  padding: 10px;
  font-style: normal;
}

  .Redes >a {
color:white;
padding: 10px;
text-decoration: none;
}

.Redes >a .bi{
font-size: 18px;
border: none;
}

.Redes >a .bi:hover{
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
border-radius: 15px;  }

.Redes >a .bi-whatsapp{
 display: none;
  
  }

  .Redes >a .bi-telephone{
    display: none;

  }

@media (max-width: 767px) {

  .Container-superior{
    width: 100%;
  }
  .Container-Contacto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  flex-wrap: wrap;
    background-color:#1ec1e4 ;
  }
    
    .Redes >a {
  color:white;
display: inline-flex;  
padding: 15px;
  }

  .Redes >a .bi{
    font-size: 18px;
  
    }
  .Redes >a .bi:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  border-radius: 15px;  }

  .bi-geo-fill,
  .bi-envelope-paper-fill,
  .bi-phone-vibrate,
  .bi-whatsapp{
    display: none;
  }

  .Redes >a .bi-whatsapp{
    display: flex
     
     }

     .Redes >a .bi-telephone{
      display:flex;
  
    }

}

